[client]
#character_set_server=utf8
port    = 3306
socket  = /tools/mysql/mysql.sock

[mysqld]
character_set_server=utf8
init_connect='SET NAMES utf8'
replicate-ignore-db = mysql
replicate-ignore-db = test
replicate-ignore-db = information_schema
user    	= mysql
port		= 3306
socket		= /tools/mysql/mysql.sock
basedir 	= /usr/local/mysql
datadir 	= /tools/mysql/3306/data
log-error 	= /tools/mysql/3306/mysql_error.log
pid-file 	= /tools/mysql/3306/mysql.pid

skip-name-resolve
skip-external-locking
back_log = 600
open_files_limit = 8192
max_connections = 1000
max_connect_errors = 10000000
wait_timeout = 10
interactive_timeout = 120
#ft_min_word_len = 4
default-storage-engine = MyISAM
thread_stack = 192K
transaction_isolation = REPEATABLE-READ
tmp_table_size = 64M

table_open_cache = 256
max_allowed_packet = 1M
binlog_cache_size = 1M
max_heap_table_size = 64M
read_buffer_size = 1M
read_rnd_buffer_size = 4M
sort_buffer_size = 1M
join_buffer_size = 2M
thread_cache_size = 8
thread_concurrency = 4
query_cache_size= 16M
query_cache_limit = 1M
query_cache_min_res_unit = 2k

key_buffer_size = 256M
bulk_insert_buffer_size = 64M
myisam_sort_buffer_size = 64M
myisam_max_sort_file_size = 10G
myisam_repair_threads = 1
myisam_recover

innodb_write_io_threads = 8
innodb_read_io_threads = 8
innodb_thread_concurrency = 4
innodb_data_home_dir = /tools/mysql/3306/data
innodb_data_file_path = ibdata1:10M:autoextend
innodb_log_group_home_dir = /tools/mysql/3306/data
innodb_additional_mem_pool_size = 16M
innodb_buffer_pool_size = 256M
# Set .._log_file_size to 25 % of buffer pool size
innodb_log_file_size = 64M
innodb_log_buffer_size = 8M
innodb_flush_log_at_trx_commit = 1
innodb_log_files_in_group = 3
innodb_max_dirty_pages_pct = 90
innodb_lock_wait_timeout = 50
innodb_file_per_table = 1


log-bin = /tools/mysql/3306/binlog/binlog
binlog_format = MIXED
max_binlog_cache_size = 8M
max_binlog_size = 1G
#log_slave_updates
#log
#log_warnings
slow_query_log
long_query_time = 10
slow_query_log_file = /tools/mysql/3306/slow.log
relay-log-index		= /tools/mysql/3306/relaylog/relaylog
relay-log-info-file = /tools/mysql/3306/relaylog/relaylog
relay-log 			= /tools/mysql/3306/relaylog/relaylog
expire_logs_days = 30

server-id = 1
#master-host     =  192.168.1.2
#master-user     =  username
#master-password =  password
#master-port     =  3306
#master-connect-retry = 10
slave-skip-errors = 1032,1062,126,1114,1146,1048,1396


[mysqldump]
quick
max_allowed_packet = 16M

[mysql]
no-auto-rehash
# Remove the next comment character if you are not familiar with SQL
#safe-updates

[myisamchk]
key_buffer_size = 128M
sort_buffer_size = 128M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout

[mysqld_safe]
# Increase the amount of open files allowed per process. Warning: Make
# sure you have set the global system limit high enough! The high value
# is required for a large number of opened tables
open-files-limit = 8192

[mysqladmin]
#character_set_server=utf8

